<!DOCTYPE html>
<html>
  <head>
    <title>Events!</title>
    <link rel="stylesheet" href="/components/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="/stylesheets/style.css" />

    <script src="/components/angular.min/index.js"></script>
    <script src="/components/angular-resource.min/index.js"></script>
    <script src="/components/angular-resource.min/index.js"></script>

    <script src="/javascripts/app.js"></script>
    <script src="/javascripts/services/Event.js"></script>
    <script src="/javascripts/controllers/mainController.js"></script>
  </head>
  <body ng-app="eventSystem" ng-controller="mainController">
    <h1>Events!</h1>

    <span class="alert-message">{{message}}</span>

    <button ng-click="creating = !creating" class="btn btn-default new-event-btn">Create New Event</button>
    
    <div ng-show="creating" class="event-create">
      <form role="form" ng-submit="creatEvent(newEvent)">
        <div class="form-group">
          <label for="title">Title</label>
          <input name="title" type="text" class="form-control" ng-model="newEvent.title">
        </div>
        <div class="form-group">
          <label for="start">Start Time</label>
          <input name="start" type="datetime-local" class="form-control" ng-model="newEvent.from">
        </div>
        <div class="form-group">
          <label for="end">End Time</label>
          <input name="end" type="datetime-local" class="form-control" ng-model="newEvent.to">
        </div>
        <div class="form-group">
          <label for="location">Location</label>
          <input name="location" type="text" class="form-control" ng-model="newEvent.location">
        </div>
        <div class="form-group">
          <label for="description">Description</label>
          <textarea name="description" class="form-control" ng-model="newEvent.description"></textarea>
        </div>
        <div class="form-group">
          <label for="participants">Space Separated List of Participants</label>
          <input type="text" name="participants" class="form-control" ng-model="newEvent.participantsString">
        </div>
        <input type="submit" value="Save" class="btn btn-success">
        <button type="button" ng-click="creating = false" class="btn btn-danger">Cancel</button>
      </form>
    </div>

    <hr class="search-separator">

    <input type="text" placeholder="Search Events" ng-model="keyword" ng-keyup="searchWhenDoneTyping(keyword)" class="form-control search">

    <ul>
      <li ng-repeat="(index, event) in events | limitTo: 10" class="event-container">

        <div ng-hide="editing" class="event-view" ng-init="showDetails = false" ng-click="showDetails = !showDetails" >
          <table class="table">
            <thead>
              <tr><th colspan="2">{{ event.title }}</th></tr>
            </thead>
            <tbody ng-show="showDetails">
              <tr><td>Start</td><td>{{ event.from | date:"MM/dd/yyyy 'at' h:mma" }}</td></tr>
              <tr><td>Finish</td><td>{{ event.to | date:"MM/dd/yyyy 'at' h:mma" }}</td></tr>
              <tr><td>Location</td><td>{{ event.location }}</td></tr>
              <tr><td>Description</td><td>{{ event.description }}</td></tr>
              <tr><td>Participants</td><td>{{ event.participants.join(", ") }}</td></tr>
            </tbody>
          </table>

          <button ng-init="editing = false" ng-click="$event.stopPropagation(); editing = true" class="btn btn-primary">Edit</button>
          <button ng-click="$event.stopPropagation(); deleteEvent(event, index, $event)" class="btn btn-danger">Delete</button>
        </div>

        <div ng-show="editing" class="event-edit">
          <form role="form" ng-init="editedEvent = copy(event)" ng-submit="editing = false; updateEvent(editedEvent, event, index)">
            <div class="form-group">
              <label for="title">Title</label>
              <input name="title" type="text" class="form-control" ng-model="editedEvent.title">
            </div>
            <div class="form-group">
              <label for="start">Start Time</label>
              <input name="start" type="datetime-local" class="form-control" ng-model="editedEvent.from">
            </div>
            <div class="form-group">
              <label for="end">End Time</label>
              <input name="end" type="datetime-local" class="form-control" ng-model="editedEvent.to">
            </div>
            <div class="form-group">
              <label for="location">Location</label>
              <input name="location" type="text" class="form-control" ng-model="editedEvent.location">
            </div>
            <div class="form-group">
              <label for="description">Description</label>
              <textarea name="description" type="text" class="form-control" ng-model="editedEvent.description"></textarea> 
            </div>
            <div class="form-group">
              <label for="participants">Space Separated List of Participants</label>
              <input type="text" name="participants" class="form-control" ng-init="editedEvent.participantsString = editedEvent.participants.join(' ')" ng-model="editedEvent.participantsString">
            </div>
            <input type="submit" value="Save" class="btn btn-success">
            <button type="button" ng-click="editing = false" class="btn btn-danger">Cancel</button>
          </form>
        </div>

      </li>
    </ul>

  </body>
</html>
