<!DOCTYPE html>
<html>
  <head>
    <title>Events!</title>
    <link rel="stylesheet" href="/components/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="/stylesheets/style.css" />

    <script src="/components/angular.min/index.js"></script>
    <script src="/components/angular-resource.min/index.js"></script>

    <script src="/javascripts/app.js"></script>
    <script src="/javascripts/services/Events.js"></script>
    <script src="/javascripts/controllers/eventsController.js"></script>
  </head>
  <body>
    <h1>Events!</h1>
    <% events.forEach(function(event){ %>
      <p><%= JSON.stringify(event) %></p>
    <% }); %>
  </body>
</html>
